@model Category
<h1>Create Category</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="CategoryName" class="form-label"></label>
        <input asp-for="CategoryName" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="DisplayOrder" class="form-label"></label>
        <input asp-for="DisplayOrder" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>